In [59]:
import pandas as pd
import os 
import glob
import numpy as np
from IPython.display import display

## Read

In [2]:
datasets = glob.glob(os.path.join("./Dataset", "*.csv"))

dataframes = {}
for file in datasets:
    name = os.path.splitext(os.path.basename(file))[0] 
    dataframes[name] = pd.read_csv(file)

In [78]:
member = dataframes['member_data']
program = dataframes['prodgram_data']
product = dataframes['product_data']
transaction_test = dataframes['test_transaction_data']
transaction_train = dataframes['train_transaction_data']
label = dataframes['train_label_data']

In [15]:
display(member.head(),
        member.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46401 entries, 0 to 46400
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MemberID        46401 non-null  object
 1   JoinDate        46401 non-null  object
 2   DateOfBirth     1477 non-null   object
 3   City            46401 non-null  object
 4   NoOfChild       46401 non-null  int64
 5   EldestKidDOB    46401 non-null  object
 6   YoungestKidDOB  46401 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.5+ MB

,MemberID,JoinDate,DateOfBirth,City,NoOfChild,EldestKidDOB,YoungestKidDOB
0,3d47296d92956ad3669769c16318a2de,2013-07-17,1983-04-01,KUBU RAYA,3,2011-07-03,2019-03-25
1,94f2dbc9b6ae8689663b168b6bcff3ca,2016-11-25,2016-11-25,MAKASAR,2,2014-09-05,2017-12-26
2,23e22dbecfa0564d43d79bb32694b557,2016-11-30,2017-02-06,BEKASI,1,2015-03-10,2015-03-10
3,eb7cd93fd803f3ec057d0fc144b3ea22,2016-12-01,2016-12-01,SEMARANG,1,2015-11-06,2015-11-06
4,2065ab9406e66082dc01faeceba90d42,2016-12-05,2017-04-28,SEMARANG,3,2013-07-08,2016-03-12

None

null cuma di dateofbirth, parah

In [16]:
display(transaction_train.head(),
        transaction_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130854 entries, 0 to 130853
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TransactionID        130854 non-null  object
 1   MemberID             130854 non-null  object
 2   Source               130854 non-null  object
 3   FK_PRODUCT_ID        130854 non-null  int64
 4   FK_PROD_GRAM_ID      130854 non-null  int64
 5   Qty                  130854 non-null  int64
 6   PricePerUnit         111681 non-null  float64
 7   TransactionDatetime  130854 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 8.0+ MB

,TransactionID,MemberID,Source,FK_PRODUCT_ID,FK_PROD_GRAM_ID,Qty,PricePerUnit,TransactionDatetime
0,ffd6c035bef03a2c386caf2552148fb2402b0b24,7ef72aa51aecb701dc5c4074480fcdf6,ELANG,27,52,1,NaN,2020-07-01 07:41:00 UTC
1,4fadf10aff7e250cc8d63badeaefdf383c0e1c13,577f1b9a093c2cec6398b1118f5d99ab,ALFAMART,22,39,1,290000.0,2020-07-01 07:24:00 UTC
2,7299df1aaf47b52017f58dd8e59df1fe37072670,e2ee74f248a74ed886a22f14348fbafd,EKTONG,22,39,1,263500.0,2020-07-01 09:13:00 UTC
3,22dae0e1e8bb87601eabd712721bd249739bc620,cefa8ef7469a8b4e6df3f745d4905000,CITRA,27,52,3,145000.0,2020-07-01 08:28:00 UTC
4,6a744d5d79e09b0c1646e604db1c4ec65eff73d7,5eecda17ddf06ed9d79f298b13f84785,INDOMARET,27,52,1,165900.0,2020-07-01 07:02:00 UTC

None

null cuma di quantity

In [ ]:
display(product.head(),
        product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   productID        27 non-null     int64
 1   ProductName      27 non-null     object
 2   ProductCategory  27 non-null     object
 3   ProductLevel     27 non-null     object
dtypes: int64(1), object(3)
memory usage: 992.0+ bytes

   productID        ProductName ProductCategory ProductLevel
0          1                A 3               A     Original
1          2                B 4               B     Original
2          3                A G               A      Premium
3          4                B G               B      Premium
4          9  A G FOR HOME KIOS               A      Premium

None

(27, 4)

amann

In [19]:
display(program.head(),
        program.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prodgramID    27 non-null     int64
 1   GrammageName  26 non-null     object
 2   Point         27 non-null     int64
 3   Price         22 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 992.0+ bytes

   prodgramID GrammageName  Point     Price
0           1       400 GR     25  102000.0
1           2       400 GR     25  102000.0
2           3       400 GR     50  132000.0
3           4       400 GR     50  132000.0
4           9       900 GR    440       NaN

None

grammagename sama price null, better didrop kyknya

## Gabungin Tabelnya

### Merge: Transaction + Product + Program + Member

In [79]:
# samain nama primary key nya
transaction_test.rename(columns={'FK_PRODUCT_ID': 'productID', 'FK_PROD_GRAM_ID': 'prodgramID'}, inplace=True)
transaction_train.rename(columns={'FK_PRODUCT_ID': 'productID', 'FK_PROD_GRAM_ID': 'prodgramID'}, inplace=True)

In [80]:
# left join 
transaction_train = transaction_train.merge(product, on='productID', how='left')
transaction_train = transaction_train.merge(program, on='prodgramID', how='left')
transaction_train = transaction_train.merge(member, on='MemberID', how='left')

transaction_test = transaction_test.merge(product, on='productID', how='left')
transaction_test = transaction_test.merge(program, on='prodgramID', how='left')
transaction_test = transaction_test.merge(member, on='MemberID', how='left')

In [82]:
df_train = transaction_train.merge(label, on='MemberID', how='left')

In [84]:
df_test = transaction_test.copy()

In [83]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130854 entries, 0 to 130853
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TransactionID        130854 non-null  object
 1   MemberID             130854 non-null  object
 2   Source               130854 non-null  object
 3   productID            130854 non-null  int64
 4   prodgramID           130854 non-null  int64
 5   Qty                  130854 non-null  int64
 6   PricePerUnit         111681 non-null  float64
 7   TransactionDatetime  130854 non-null  object
 8   ProductName          130854 non-null  object
 9   ProductCategory      130854 non-null  object
 10  ProductLevel         130854 non-null  object
 11  GrammageName         130854 non-null  object
 12  Point                130854 non-null  int64
 13  Price                130854 non-null  float64
 14  JoinDate             130854 non-null  object
 15  DateOfBirth          6692 non-null    object
 16  City                 130854 non-null  object
 17  NoOfChild            130854 non-null  int64
 18  EldestKidDOB         130854 non-null  object
 19  YoungestKidDOB       130854 non-null  object
 20  next_buy             130854 non-null  int64
dtypes: float64(2), int64(6), object(13)
memory usage: 21.0+ MB

## EDA Dikit

In [85]:
df_train

,TransactionID,MemberID,Source,productID,prodgramID,Qty,PricePerUnit,TransactionDatetime,ProductName,ProductCategory,...,GrammageName,Point,Price,JoinDate,DateOfBirth,City,NoOfChild,EldestKidDOB,YoungestKidDOB,next_buy
0,ffd6c035bef03a2c386caf2552148fb2402b0b24,7ef72aa51aecb701dc5c4074480fcdf6,ELANG,27,52,1,NaN,2020-07-01 07:41:00 UTC,A,A,...,700 GR,50,201000.0,2019-12-24,NaN,BEKASI,1,2017-07-31,2017-07-31,0
1,4fadf10aff7e250cc8d63badeaefdf383c0e1c13,577f1b9a093c2cec6398b1118f5d99ab,ALFAMART,22,39,1,290000.0,2020-07-01 07:24:00 UTC,A G,A,...,900 GR,100,300000.0,2019-08-29,NaN,JAMBI,2,2017-03-08,2019-01-27,0
2,7299df1aaf47b52017f58dd8e59df1fe37072670,e2ee74f248a74ed886a22f14348fbafd,EKTONG,22,39,1,263500.0,2020-07-01 09:13:00 UTC,A G,A,...,900 GR,100,300000.0,2018-06-19,NaN,MAKASAR,2,2017-06-04,2019-04-10,0
3,22dae0e1e8bb87601eabd712721bd249739bc620,cefa8ef7469a8b4e6df3f745d4905000,CITRA,27,52,3,145000.0,2020-07-01 08:28:00 UTC,A,A,...,700 GR,50,201000.0,2019-05-06,NaN,SIDOARJO,1,2016-11-16,2016-11-16,0
4,6a744d5d79e09b0c1646e604db1c4ec65eff73d7,5eecda17ddf06ed9d79f298b13f84785,INDOMARET,27,52,1,165900.0,2020-07-01 07:02:00 UTC,A,A,...,700 GR,50,201000.0,2020-05-05,NaN,SUKABUMI,1,2018-05-22,2018-05-22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130849,982e5420a08d52c10be889233bd40873f742509d,503495face9276840e23f770545ade30,SATU SAMA,22,39,1,263000.0,2021-06-30 13:46:00 UTC,A G,A,...,900 GR,100,300000.0,2021-05-25,NaN,GOWA,1,2020-05-21,2020-05-21,0
130850,8b161fcde975bbd1f1e861451a3dbfe6ab2fa502,ac2075bc561664d35deb6e4c7b55f680,INDOMARET,22,39,1,290500.0,2021-06-29 19:19:00 UTC,A G,A,...,900 GR,100,300000.0,2020-12-29,NaN,PONTIANAK,1,2019-09-10,2019-09-10,1
130851,8820dceb01572c6ba82ce44a960ad226fc16008a,d315f435189a22e43ef2bcd5dd67281a,TOKO SUSUKU,22,39,4,261000.0,2021-06-05 16:11:00 UTC,A G,A,...,900 GR,100,300000.0,2021-03-22,NaN,TANGERANG,1,2020-02-16,2020-02-16,0
130852,8f8eb8268cdaffa34cbb9da522346fc7d5f53a9b,e3c4ceb8c70215f3a40d7314a255c17a,MURAH HEMAT,22,39,2,268000.0,2021-06-30 14:31:00 UTC,A G,A,...,900 GR,100,300000.0,2019-08-15,NaN,JAKARTA UTARA,3,2018-05-12,2019-06-27,0
130853,544df8539442e62934061badf838889f31aee616,9870596a3b80b3d473da1c9759f84800,CITRA,26,49,1,78000.0,2021-04-05 18:57:00 UTC,B,B,...,400 GR,25,102000.0,2020-12-14,NaN,MALANG,2,2017-09-20,2019-06-18,0