In [59]:
import pandas as pd
import os 
import glob
import numpy as np
from IPython.display import display

## Read

In [2]:
datasets = glob.glob(os.path.join("./Dataset", "*.csv"))

dataframes = {}
for file in datasets:
    name = os.path.splitext(os.path.basename(file))[0] 
    dataframes[name] = pd.read_csv(file)

In [52]:
member = dataframes['member_data']
program = dataframes['prodgram_data']
product = dataframes['product_data']
transaction_test = dataframes['test_transaction_data']
transaction_train = dataframes['train_transaction_data']
label = dataframes['train_label_data']

In [15]:
display(member.head(),
        member.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46401 entries, 0 to 46400
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MemberID        46401 non-null  object
 1   JoinDate        46401 non-null  object
 2   DateOfBirth     1477 non-null   object
 3   City            46401 non-null  object
 4   NoOfChild       46401 non-null  int64
 5   EldestKidDOB    46401 non-null  object
 6   YoungestKidDOB  46401 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.5+ MB

,MemberID,JoinDate,DateOfBirth,City,NoOfChild,EldestKidDOB,YoungestKidDOB
0,3d47296d92956ad3669769c16318a2de,2013-07-17,1983-04-01,KUBU RAYA,3,2011-07-03,2019-03-25
1,94f2dbc9b6ae8689663b168b6bcff3ca,2016-11-25,2016-11-25,MAKASAR,2,2014-09-05,2017-12-26
2,23e22dbecfa0564d43d79bb32694b557,2016-11-30,2017-02-06,BEKASI,1,2015-03-10,2015-03-10
3,eb7cd93fd803f3ec057d0fc144b3ea22,2016-12-01,2016-12-01,SEMARANG,1,2015-11-06,2015-11-06
4,2065ab9406e66082dc01faeceba90d42,2016-12-05,2017-04-28,SEMARANG,3,2013-07-08,2016-03-12

None

null cuma di dateofbirth, parah

In [16]:
display(transaction_train.head(),
        transaction_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130854 entries, 0 to 130853
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TransactionID        130854 non-null  object
 1   MemberID             130854 non-null  object
 2   Source               130854 non-null  object
 3   FK_PRODUCT_ID        130854 non-null  int64
 4   FK_PROD_GRAM_ID      130854 non-null  int64
 5   Qty                  130854 non-null  int64
 6   PricePerUnit         111681 non-null  float64
 7   TransactionDatetime  130854 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 8.0+ MB

,TransactionID,MemberID,Source,FK_PRODUCT_ID,FK_PROD_GRAM_ID,Qty,PricePerUnit,TransactionDatetime
0,ffd6c035bef03a2c386caf2552148fb2402b0b24,7ef72aa51aecb701dc5c4074480fcdf6,ELANG,27,52,1,NaN,2020-07-01 07:41:00 UTC
1,4fadf10aff7e250cc8d63badeaefdf383c0e1c13,577f1b9a093c2cec6398b1118f5d99ab,ALFAMART,22,39,1,290000.0,2020-07-01 07:24:00 UTC
2,7299df1aaf47b52017f58dd8e59df1fe37072670,e2ee74f248a74ed886a22f14348fbafd,EKTONG,22,39,1,263500.0,2020-07-01 09:13:00 UTC
3,22dae0e1e8bb87601eabd712721bd249739bc620,cefa8ef7469a8b4e6df3f745d4905000,CITRA,27,52,3,145000.0,2020-07-01 08:28:00 UTC
4,6a744d5d79e09b0c1646e604db1c4ec65eff73d7,5eecda17ddf06ed9d79f298b13f84785,INDOMARET,27,52,1,165900.0,2020-07-01 07:02:00 UTC

None

null cuma di quantity

In [ ]:
display(product.head(),
        product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   productID        27 non-null     int64
 1   ProductName      27 non-null     object
 2   ProductCategory  27 non-null     object
 3   ProductLevel     27 non-null     object
dtypes: int64(1), object(3)
memory usage: 992.0+ bytes

   productID        ProductName ProductCategory ProductLevel
0          1                A 3               A     Original
1          2                B 4               B     Original
2          3                A G               A      Premium
3          4                B G               B      Premium
4          9  A G FOR HOME KIOS               A      Premium

None

(27, 4)

amann

In [19]:
display(program.head(),
        program.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prodgramID    27 non-null     int64
 1   GrammageName  26 non-null     object
 2   Point         27 non-null     int64
 3   Price         22 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 992.0+ bytes

   prodgramID GrammageName  Point     Price
0           1       400 GR     25  102000.0
1           2       400 GR     25  102000.0
2           3       400 GR     50  132000.0
3           4       400 GR     50  132000.0
4           9       900 GR    440       NaN

None

grammagename sama price null, better didrop kyknya

## Gabungin Tabelnya

### 1. Merge: Transaction + Product + Program

In [53]:
# samain nama primary key nya
transaction_test.rename(columns={'FK_PRODUCT_ID': 'productID', 'FK_PROD_GRAM_ID': 'prodgramID'}, inplace=True)
transaction_train.rename(columns={'FK_PRODUCT_ID': 'productID', 'FK_PROD_GRAM_ID': 'prodgramID'}, inplace=True)

In [54]:
# left join 
transaction_train = transaction_train.merge(product, on='productID', how='left')
transaction_train = transaction_train.merge(program, on='prodgramID', how='left')

transaction_test = transaction_test.merge(product, on='productID', how='left')
transaction_test = transaction_test.merge(program, on='prodgramID', how='left')

### 2. Aggregate Transaction per MemberID (yg train aja dulu)

In [55]:
transaction_train.head()

,TransactionID,MemberID,Source,productID,prodgramID,Qty,PricePerUnit,TransactionDatetime,ProductName,ProductCategory,ProductLevel,GrammageName,Point,Price
0,ffd6c035bef03a2c386caf2552148fb2402b0b24,7ef72aa51aecb701dc5c4074480fcdf6,ELANG,27,52,1,NaN,2020-07-01 07:41:00 UTC,A,A,Original,700 GR,50,201000.0
1,4fadf10aff7e250cc8d63badeaefdf383c0e1c13,577f1b9a093c2cec6398b1118f5d99ab,ALFAMART,22,39,1,290000.0,2020-07-01 07:24:00 UTC,A G,A,Premium,900 GR,100,300000.0
2,7299df1aaf47b52017f58dd8e59df1fe37072670,e2ee74f248a74ed886a22f14348fbafd,EKTONG,22,39,1,263500.0,2020-07-01 09:13:00 UTC,A G,A,Premium,900 GR,100,300000.0
3,22dae0e1e8bb87601eabd712721bd249739bc620,cefa8ef7469a8b4e6df3f745d4905000,CITRA,27,52,3,145000.0,2020-07-01 08:28:00 UTC,A,A,Original,700 GR,50,201000.0
4,6a744d5d79e09b0c1646e604db1c4ec65eff73d7,5eecda17ddf06ed9d79f298b13f84785,INDOMARET,27,52,1,165900.0,2020-07-01 07:02:00 UTC,A,A,Original,700 GR,50,201000.0

In [56]:
transaction_train["TransactionDatetime"] = pd.to_datetime(transaction_train["TransactionDatetime"]) # buat bikin fitur waktu

In [57]:
transaction_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130854 entries, 0 to 130853
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TransactionID        130854 non-null  object
 1   MemberID             130854 non-null  object
 2   Source               130854 non-null  object
 3   productID            130854 non-null  int64
 4   prodgramID           130854 non-null  int64
 5   Qty                  130854 non-null  int64
 6   PricePerUnit         111681 non-null  float64
 7   TransactionDatetime  130854 non-null  datetime64[ns, UTC]
 8   ProductName          130854 non-null  object
 9   ProductCategory      130854 non-null  object
 10  ProductLevel         130854 non-null  object
 11  GrammageName         130854 non-null  object
 12  Point                130854 non-null  int64
 13  Price                130854 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(4), object(7)
memory usage: 14.0+ MB

ohh aman, meskipun Price dan GrammageName ada null, setelah di-join gaada null, brti emang di transaction_train gaada prodgramID yg null Price sama GrammageName nya. <br>
tipe data juga udah sesuai

In [68]:
transaction_train["total_spent"] = transaction_train["Qty"] * transaction_train["PricePerUnit"]

transaction_train_agg = transaction_train.groupby("MemberID").agg(
    num_transactions = ("TransactionID", "count"), # jumlah transaksi
    total_qty = ("Qty", "sum"), # total quantity
    avg_qty = ("Qty", "mean"), # rata-rata quantity
    total_spent = ("total_spent", "sum"), # total pengeluaran
    avg_spent = ("total_spent", "mean"), # rata-rata pengeluaran
    unique_products = ("productID", pd.Series.nunique), # jumlah produk unik
    unique_categories = ("ProductCategory", pd.Series.nunique), # jumlah kategori unik
    most_common_category = ("ProductCategory", lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan), # kategori paling umum
    first_purchase = ("TransactionDatetime", "min"), # tanggal pembelian pertama
    last_purchase = ("TransactionDatetime", "max"), # tanggal pembelian terakhir
    unique_sources = ("Source", pd.Series.nunique), # jumlah sumber unik
    most_common_source = ("Source", lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) # sumber paling umum
).reset_index()

In [71]:
# jumlah hari sejak pembelian terakhir hingga tanggal terakhir dalam data
reference_date = transaction_train["TransactionDatetime"].max()
transaction_train_agg["recency_days"] = (reference_date - transaction_train_agg["last_purchase"]).dt.days

In [72]:
transaction_train_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40020 entries, 0 to 40019
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MemberID              40020 non-null  object
 1   num_transactions      40020 non-null  int64
 2   total_qty             40020 non-null  int64
 3   avg_qty               40020 non-null  float64
 4   total_spent           40020 non-null  float64
 5   avg_spent             36284 non-null  float64
 6   unique_products       40020 non-null  int64
 7   unique_categories     40020 non-null  int64
 8   most_common_category  40020 non-null  object
 9   first_purchase        40020 non-null  datetime64[ns, UTC]
 10  last_purchase         40020 non-null  datetime64[ns, UTC]
 11  unique_sources        40020 non-null  int64
 12  most_common_source    40020 non-null  object
 13  recency_days          40020 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(3), int64(6), object(3)
memory usage: 4.3+ MB

### 3. Merge: Member + Transaction yg udah di-aggregate + Label

In [74]:
df_train = transaction_train_agg.merge(member, on="MemberID", how="left")
df_train = df_train.merge(label, on="MemberID", how="left")

In [76]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40020 entries, 0 to 40019
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MemberID              40020 non-null  object
 1   num_transactions      40020 non-null  int64
 2   total_qty             40020 non-null  int64
 3   avg_qty               40020 non-null  float64
 4   total_spent           40020 non-null  float64
 5   avg_spent             36284 non-null  float64
 6   unique_products       40020 non-null  int64
 7   unique_categories     40020 non-null  int64
 8   most_common_category  40020 non-null  object
 9   first_purchase        40020 non-null  datetime64[ns, UTC]
 10  last_purchase         40020 non-null  datetime64[ns, UTC]
 11  unique_sources        40020 non-null  int64
 12  most_common_source    40020 non-null  object
 13  recency_days          40020 non-null  int64
 14  JoinDate              40020 non-null  object
 15  DateOfBirth           1273 non-null   object
 16  City                  40020 non-null  object
 17  NoOfChild             40020 non-null  int64
 18  EldestKidDOB          40020 non-null  object
 19  YoungestKidDOB        40020 non-null  object
 20  next_buy              40020 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(3), int64(8), object(8)
memory usage: 6.4+ MB